.backgroundImage{
    background-color: aqua;
    background-image: url('../../assests/gmailimage.webp');
    width: 100vw;
    height: 100vh;
}
.loginMainDiv {
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    Border:fit-content;
    background-color: aliceblue;
}
.hoverText:hover {
    cursor: pointer;
}

@media (max-width:400px) {
    .loginMainDiv {
        width: 90%
    }
}